/*html{
    scroll-behavior: smooth;
}*/

body {

    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url(pizarra-colegio.jpg); */
    background-repeat: no-repeat;
    transition: 1s;
    background-size: cover;
    /*overflow: hidden;*/

}




.nav {
    background-color: #0f2b5f;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 2%;
    align-items: center;
    position: fixed;
    z-index: 500000;
}

.nombreLogo {
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
}

.nombreLogo img {
    width: 50px;
    margin-right: 4%;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}

hr {
    border: .5px solid rgb(182, 182, 182);
    width: 90%;

}
.nombreLogo2 a{
    margin: 10px;
    font-size: 1.4em;
}
#section-3 {
    width: 100vw;
    height: 100vh;
    background-image: url(pizarra.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: block;

}

.item {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: .5s;



}

.item:hover {
    transform: translateY(-50px);
    transition: .3s;
}

.item__div {
    background-color: #124783;
    margin: 10px;
    background: linear-gradient(rgba(80, 100, 255, .6), rgba(150, 150, 255, .8));
    border-radius: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    align-content: center;

    margin: 50px;
    box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 10px 5px 0px rgba(0, 0, 0, 0.75);
    transition: .5s;

}


.item__div h4 {
    color: #fff;
    position: absolute;
    top: 320px;
    text-align: center;
    justify-content: center;
}

.item__div:hover {

    background: linear-gradient(rgba(2, 17, 130, 0.6), rgba(0, 0, 147, 0.8));
    transition: 1s;



}


#brain {
    height: 150px;
    width: 150px;
}

#brain__h4 {
    transform: translateX(25px);
}

#titulo-opciones {
    display: flex;
    justify-content: center;


    position: relative;

    font-family: 'Darumadrop One', cursive;
}

@keyframes flotar {
    0% {
        transform: translateX(0), translateY(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

#titulo-opciones h1 {
    color: #fff;

    display: flex;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 3px 0 #124783;

    animation: flotar 2s ease-in-out infinite;
}

.container_s3 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 450px;
    top: 27%;
    width: 800px;
    left: 25%;
    border-radius: 10px;
    background: linear-gradient(rgba(195, 195, 195, 0.4), rgba(186, 186, 186, 0.4));
    box-shadow: -1px 2px 5px 7px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: -1px 2px 5px 7px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: -1px 2px 5px 7px rgba(255, 255, 255, 0.75);
}







#jo,
#f,
#o {
    transform: translateX(-15px);
}








#section-4 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(pizarra.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

.jerarquia {
    width: 100%;
    height: 400px;
    left: 0%;
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: 100px;
    font-family: 'Raleway';

}


.jerarquia h1 {
    color: #fff;
    font-family: poppins;

}

.jerarquia p {
    color: #fff;
    font-family: 'Darumadrop One', cursive;
    font-size: 25px;
}
















#home {
    position: absolute;
    justify-content: center;
    background-color: #f0bc84;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    border: 3px solid #000000;
    position: fixed;
    bottom: 10px;
    z-index: 90000000;
    left: 10px;
    filter: invert(150%);
}

#home:hover {
    background-color: #ff952c;
}

#home img {
    height: 30px;
    padding: 5px;
    color: #fff;
    filter: contrast(150%);
}






#section-1 {
    width: 100vw;
    height: 100vh;
    background-image: url(calculadora-cerca-papeleria-forma-geometrica.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;



}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    border-radius: 10px;

}

.container img {

    height: 500px;

}


.pizarra {

    
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;

    justify-content: center;
    
    align-items: center;
}

.btnEdu{
    width: 100%;
    
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#btnInfoMath{
    background: none;
    border: none;
    color: #fff;
    background-color: #39b91c;
    border: 3px solid #fff;
    
    font-size: 22px;
    font-weight: bold;
    padding: 6px;
    font-family: poppins;
    border-radius: 7px;
    cursor: pointer;
    transition: .5s;
    animation: milo 2s forwards infinite;
}

@keyframes milo {
    0%{
        transform: scale(95%);
        background-color: #39b91c;
    }

   50%{
    transform: scale(100%);
    background-color: #328120;
   }
    100%{
        transform: scale(95%);
        background-color: #39b91c;
    }
    
}
#btnInfoMath:hover{
    background-color: #183711;
}



.alert {
    /* background: rgb(88,174,99);
    background: linear-gradient(180deg, rgba(88,174,99,1) 0%, rgba(34,107,46,1) 100%);*/
    position: absolute;
    background-image: url(pizarra-colegio.jpg);
    background-size: contain ;
    background-position: center;
    width: 50%;
    height: 68%;
    border: px solid #ffffff;
    box-shadow: 1px 1px 34px -2px rgba(0,0,0,1);
-webkit-box-shadow: 1px 1px 34px -2px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 34px -2px rgba(0,0,0,1);
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert h1{
    color: #fff;
 
    text-shadow: 0px 1px 8px rgba(21,167,22,1);
    border-bottom : 3px solid #fff ;
  display: flex;
  align-items: center;
}

.alert p{
    width: 65%;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
    
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.74);
    font-family: 'Darumadrop One', cursive;
   
}

.alert button{
    background: none;
    border: none;
    color: #fff;
    background-color: #39b91c;
    border: 1.5px solid #fff;
    
    font-size: 16px;
    font-weight: bold;
    padding: 2px;
  
    
    border-radius: 4px;
    cursor: pointer;
    transition: .5s;
}



.contentPi{
    height: 30em;
    width: 45em;
    background-image: url(pizarra-colegio.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position-x: center;
    background-position-y: center;
}


.cartel{
    display: flex;
    height: 40%;
    width: 40%;
}


.cartel img {
    display: flex;
   
}





#ocultar_info {
    position: absolute;
    top: 42.7%;
    left: 16%;
    display: none;
}

.cartel .info__math:hover {
    background-color: #183711;
    transform: scale(110%) rotate(-5deg);
    transition: .6s;

}


.pizarra h3 {
    color: #ffffff;

    margin: 0%;
    letter-spacing: 1px;
    font-size: 60px;
    transition: .5s;


}



.pizarra h2 {

    color: #39b91c;
    position: relative;
    margin: 0% auto;
    font-size: auto;
    font-family: 'Darumadrop One', cursive;
    letter-spacing: 1px;
    transition: .5s;

}

.pizarra h2:hover {
    transform: scale(125%);
    transition: 1s ease-in-out;
}

.item__a:active {
    color: #4299FA;

}


.pizarra p {
    margin: 0%;

    color: #39b91c;

    font-size: 1.7em;
    font-family: 'Darumadrop One', cursive;
    position: relative;
    margin: 0% auto;
    transition: .5s;
}

.pizarra p:hover {
    transform: scale(120%);
    transition: 1s ease-in-out;
}


#section-2 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(escritorio-escuela-libros-texto-cerca-pizarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



.loading-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
    animation: loading-text 1.5s ease-in-out infinite;
}

.loading-text:before,
.loading-text:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    top: 50%;
    left: 0;
    background-color: #6dd23e;
    animation: g-bars 1.5s ease-in-out infinite;
}

.loading-text:before {
    transform: translateY(-10px);
}

.loading-text:after {
    transform: translateY(10px);
}

@keyframes loading-text {
    0% {
        color: #fff;
    }

    50% {
        color: #6dd23e;
    }

    100% {
        color: #fff;
    }
}

@keyframes g-bars {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(2, 1);
    }

    50% {
        transform: scale(1, 1);
    }

    75% {
        transform: scale(1, 2);
    }

    100% {
        transform: scale(1, 1);
    }
}

#info__jerarquia {
    display: none;
    flex-direction: column;
    position: relative;
    justify-content: start;
    text-align: center;
    left: 0px;
    margin-bottom: 0%;
    width: 80%;
  

}



.ocultar__jerarquia{
    background-color: #0077ff;
}

#info__jerarquia span {
    font-family: poppins;

    font-weight: bold;
    color: #abf;

}

#info__jerarquia p {
    font-size: 22px;
    width: 100%;
    
}





.titulo__jerarquia img {
    height: 100px;
}

.titulo__jerarquia button {
    display: flex;
    background-color: #50a2ff;
    width: 400px;
    height: 100px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    transition: .5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(0%);

}

.titulo__jerarquia button:hover {
    background-color: #124783;

}

.titulo__jerarquia h1 {
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}



#toca__aqui {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 20px;
    
     position: relative;
     top: 150px;





    font-family: poppins;
    
}

#toca__aqui h4 {
    font-weight: bold;
    padding-bottom: 0%;
    position: relative;
    top: 0px;


}

#toca__aqui img {
    height: 30px;
    margin-top: 0;
    padding: 0;
    position: absolute;
   
    animation: flecha 2s ease-in-out infinite;
}

@keyframes flecha {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-50%);

    }

    100% {
        transform: translateY(0%);
    }
}


/* jerarquia */

.jerarquia{
    display: flex;
    height: 100%;
   
    top: 0%;
    justify-content: center;
}


.contenedorEjerciciosJerarquia{
    background-image: url(calculadora-cerca-papeleria-forma-geometrica.jpg);
    width: 60%;
    border: 2px solid #fff;
    border-radius: 10px;
   
    
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;

    display: none;
}

.imgDeEjerciciosJerarquia {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 20%;
}



.imgDeEjerciciosJerarquia img{
    height: 100px;
}


.tituloDeEjerciciosJerarquia h1{
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}

.ejerciciosFr{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.ejerciciosFr h4{
    color: #fff;
    font-family: poppins;
    background-color: #124783;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px ;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
    transition: .5s;
}


.ejerciciosFr button{
    
        border: none;
        background: none;
        background-color: #4299FA;
        border: 2px solid #fff;
        border-radius: 7px;
        font-family: 'poppins';
        padding: 4px;
        height: 50px;
        color: #fff;
        cursor: pointer;
        transition: .5s;
    }
    
    .ejerciciosFr button:hover{
        background-color: #0f2b5f;
    }



.btn__jerarquia {
    display: none;
    background-color: #50a2ff;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
    font-family: darumadrop;
    font-weight: bold;
    transition: .5s;
    top: 50px;
   
    padding: 5px;
    border-radius: 10px;
}



.btn__jerarquia:hover {
    background-color: #124783;
}

#btn__ocultarJerarquia {
    
    width: 100px;
    justify-content: center;
    position: relative;
    margin: 0%;
}

.contenedorEjerciciosFracciones {
    background-image: url(calculadora-cerca-papeleria-forma-geometrica.jpg);
    width: 60%;
    border: 2px solid #fff;
    border-radius: 10px;
    display: none;
    bottom: 50px;
    position: relative;
}

.presentacionEjerciciosFracciones{
    display: flex;
    flex-direction: column ;
    width: 80%;

}
.ejerciciosJe{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
    flex-direction: row;
}

.ejerciciosJe h4{
    color: #fff;
    font-family: poppins;
    background-color: #124783;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px ;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}

.ejerciciosJe button{
    border: none;
    background: none;
    background-color: #4299FA;
    border: 2px solid #fff;
    border-radius: 7px;
    font-family: 'poppins';
    padding: 4px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

.ejerciciosJe button:hover{
    background-color: #0f2b5f;
}
.imgDeEjerciciosFracciones{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.imgDeEjerciciosFracciones img{
    height: 100px;
}


.tituloDeEjerciciosFracciones h1{
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
    color: #fff;

}
#section-5 {
    width: 100vw;
    height: 100vh;
    background-image: url(pizarra.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.container__fracciones{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0%;
    
}


.btns__fracciones {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;

}

.btn__fraccion {
   margin-bottom: 0%;
    display: flex;
    align-items: center;
    background-color: #50a2ff;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    font-family: poppins;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
    transition: .5s;
    position: relative;
    top: 6em;
}

.btn__fraccion:hover {
    background-color: #124783;
}

.btns__fracciones img {
    height: 100px;
    padding: 10px;
}


.btn__cambio1 {


    color: #fff;
    font-size: 20px;
    top: 200px;
    left: 200px;
    display: flex;
    position: relative;
    top: 31%;
    left: 34%;
}


.btn__cambio2 {

    left: 450px;
    color: #fff;
    font-size: 20px;
    top: 200px;
    left: 200px;
}

.infoFracciones {
    width: 100%;
    display: none;
    justify-content: center;
   
    position: relative;
    top: -25%;
    transition: 1s;
 

}

.infoFracciones p {
    color: #fff;
    width: 70%;
    font-family: 'Darumadrop One', cursive;
    font-size: 30px;
}

.infoFracciones p span {
    color: #4299FA;
}

.ejerciciosFracciones {
    display: none;
    align-items: center;
    position: relative;
    
    width: 80%;
    bottom: 10%;
    border: 3px solid #fff;
    border-radius: 10px;
    height: 150px;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


.ejerciciosFraccionesDificiles {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;

    position: absolute;
    margin-right: 40%;
    width: 1000px;
    top: 8%;
    left: 10%;

}

.btn__ocultarFracciones {
    display: flex;
    z-index: 5000;
    justify-content: center;
    align-items: center;
}

.btn__ocultarFracciones button {
    color: #fff;
    background-color: #4299FA;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 3px;
    transition: .5s;
    position: relative;
    text-align: center;
    left: 520px;

}

.btn__mostrarFracciones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__mostrarFracciones button {
    color: #fff;
    background-color: #4299FA;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 14px;
    padding: 3px;
    transition: .5s;
    position: absolute;
    left: 88.4%;
    bottom: 60%;
    text-align: center;
    

}


.btn__ocultarFracciones button:hover {
    background-color: #124783;
}

.btn__mostrarFracciones button:hover {
    background-color: #000000;
}


.pizarra__2{
    display: none;
}
.ejerciciosFraccionesDificiles h4 {
    background-color: #124783;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    margin: 50px;

    height: 20%;
}

.ejerciciosFracciones img {
    height: 120px;
    left: 150px;
}

.ejerciciosFraccionales {
    display: flex;
    position: absolute;
    left: 150px;
    top: 30px;

}


.ejerciciosFraccionales h4 {
    color: #fff;
    font-size: 20px;
    font-family: darumadrop;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: #124783;
    margin: 40px;

}

.ejerciciosFracciones h1 {
    color: #fff;
    position: relative;
    top: -50px;
    font-size: 25px;
    left: 30%;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}

#btn__ocultarFraccion {
    background-color: #0077ff;
    color: #fff;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
    border: 1px solid #fff;
    width: 120px;
    font-family: poppins;
    border-radius: 5px;


    height: 30px;
    position: relative;
    top: -140px;

    transition: .6s;
    display: none;
    justify-content: center;

    align-items: center;
    
    



}

#btn__ocultarFraccion:hover {
    background-color: #124783;

}

#btn_mostrarFraccion {
    width: 50px;
    display: flex;
    animation: flecha 2s ease-in-out infinite;
    height: 100px;
    position: relative;
    margin: auto;
    
}

#btn_mostrarFraccion img {
    height: 30px;
}

@media (max-width: 800px) {
     
    
  
    .body {
        background-color: #183711;
    }
    .pizarra {

        display: none;
        justify-content: center;
        background-position: center;
        width: 90%;
       
        
    }

    .pizarra__2{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        
        
    }

     .contentPizarra h1{
        color: #fff;
       font-size: 3em;
            text-shadow: 0px 1px 5px rgba(255,255,255,0.79);
          
        
     }

    
    .contentPizarra {

        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        background-image: url(pizarra-colegio.jpg);
        background-size: cover;
        background-position: center;
        
        width: 100%;

        
        height: 60%;
    }


    .contentPizarra h3{
        font-size: 2.7em;
        font-family: poppins;
        
    }
    .contentPizarra h2, h3{
        color: #39b91c;
        font-size: 20px;
        font-family: 'Darumadrop One', cursive;
    }


    .pizarra p {
        font-size: 1.1em;
    }

    .pizarra h2 {
        font-size: 1.5em;
    }

    .pizarra h3 {
        font-size: 3em;
    }

    nav a {
        font-size: 12px;
    }

    .nav{
        height: 70px;


    }

    

    .nombreLogo {
        margin-right: 0px;
        

    }

    .cartel {
        display: none;
    }

    .item__a {
        font-size: 18px;
    }

    #section-1 {
        height: 100vh;
    }

    #section-3 {
        display: flex;
        justify-content: center;
    }

    .container_s3 {
        left: 0%;
        width: 80%;
        height: 80vh;
        top: 10%;
        display: flex;
        grid-template-rows: 1fr 600px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
    }


    #titulo-opciones h1 {
        font-size: 30px;
        position: relative;
        

    }

    .item__div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        flex-direction: column;
        border: 2px solid #fff;
        margin: 75px;
        height: 80px;
        width: 80px;
        top: 50px;
    }

    .item {
        height: 70px;
        margin: 0px;
        width: 70px;
    }

    .item__div h4 {
        font-size: 12px;
    }

    #jo {
        transform: translateY(2.5em) translateX(-1em);
    }

    #f {
        transform: translateY(2.5em) translateX(-.5em);
    }

    #o {
        transform: translateY(15.6em) translateX(-1em);

    }

    #brain__h4 {
        transform: translateY(15.6em) translateX(3em);

    }




    #btn__ocultarJerarquia {
        top: 0px;
    }


    #info__jerarquia p {
        font-size: 16px;
    }


   

   .contenedorEjerciciosJerarquia{
    position: relative;
    top: 7%;
   }


    .container {
        display: flex;
        justify-content: center;


        position: relative;
        margin: auto;

        align-items: center;
    }


    #btn__fraccion1 {
        display: flex;
        background-color: #50a2ff;
        width: 400px;
        height: 100px;
        border: none;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        border: 2px solid #fff;
        transition: .5s;
       
    }

    .infoFracciones p {
        font-size: 12px;
    }

    .container__fracciones{
        display: flex;
    }

    #ejerciciosFracciones {
        height: 10%;
        display: flex;
    }

    #ejerciciosFracciones h1 {
        font-size: 15px;
        width: 200%;
        left: 0%;
    }

    #ejerciciosFracciones img {
        display: flex;
    }

    #fracc__fac h4 {
        font-size: 12px;
        height: 3%;
        width: 80px;
    }

    #fracc__h4 button {
        height: 10px;
    }

  

   
}











@media (min-width: 300px) and (max-width: 1500px){
/* TODO LO RESPONSIVE APARTIR DE AQUI */

  .nav {
    justify-content: space-around;
    position: fixed;
  }

 
  
 
  .nombreLogo img{
    margin-right: 0%;
    height: 40px;
  }

  .nombreLogo2 a{
   
    margin-right: 0%;
  }

  .nav a{
    font-size: 12px;
    
  }


  /* boton de jerarquia */

  #btn__jerarquia {
    width: 70%;
    height: auto;
  }

  #btn__jerarquia img{
    height: 50px;
  }

  #btn__jerarquia h1{
    font-size: 20px;
  }
 

   /*boton fracciones*/

   #btn__fraccion1 {
    padding: 10px;
    border-radius: 3px;
    background-color: #4299FA;
    width: 70%;
  }

  #btn__fraccion1 img{
    height: 50px;
  }

  #btn__fraccion1 h1{
    font-size: 20px;
  }


  .contenedorEjerciciosFracciones{
    width: 85%;
    margin-top: 10px;
}

.tituloDeEjerciciosFracciones{
    font-size: 8px;
    text-align: center;
}

.imgDeEjerciciosFracciones img{
    height: 60px;
}

.ejerciciosJe h4{
    font-size: 7px;
    
    font-weight: 100;
    padding: 4px;
    border-radius: 6px;
}

.ejerciciosJe button{
    padding: 4px;
    font-size: 9px;
    text-align: center;
    height: 30px;

}


.infoFracciones p{
    font-size: 16px;
}

.contenedorEjerciciosJerarquia{
    width: 85%;
   
}

.tituloDeEjerciciosJerarquia{
    font-size: 8px;
    text-align: center;
}

.imgDeEjerciciosJerarquia img{
    height: 60px;
}

.ejerciciosFr h4{
    font-size: 8px;
    font-weight: 100;
    padding: 4px;
    border-radius: 6px;
}

.ejerciciosFr button{
    padding: 4px;
    font-size: 7px;
    height: 30px;

}

}



/* para iphone 6 7 y 8 */

@media (min-width: 390px) and (max-width: 750px){
    .pizarra p{
        text-align: center;
    }

    .nav a{
        font-size: 16px;
    }

    #btn__jerarquia{
        width: 70%;
        height: 70px;
            
    }

    .container_s3 h1{
        margin-bottom: 0%;
    }

    #btn__jerarquia img{
        height: 40px;
        margin-right: 0px;
    }

    #section-4{
        width: 100vw;
    }

   

    #btn__jerarquia h1{
        font-size: 16px;
    }

    
    .contenedorEjerciciosJerarquia{
        width: 85%;
        margin-top: 10px;
    }

    .tituloDeEjerciciosJerarquia{
        font-size: 8px;
        text-align: center;
    }

    .imgDeEjerciciosJerarquia img{
        height: 60px;
    }

    .ejerciciosFr h4{
        font-size: 10px;
        font-weight: 100;
        padding: 4px;
        border-radius: 6px;
    }

    .ejerciciosFr button{
        padding: 4px;
        font-size: 7px;
        height: 30px;

    }

    #btn__fraccion1{
        width: 80%;
        height: 80%;
        border-radius: 6px;
        font-size: 14px;
    }

    #btn__fraccion1 img{
        height: 60px;
    }

   

    .contenedorEjerciciosFracciones{
        width: 85%;
        margin-top: 10px;
    }

    .tituloDeEjerciciosFracciones{
        font-size: 8px;
        text-align: center;
    }

    .imgDeEjerciciosFracciones img{
        height: 60px;
    }

    .ejerciciosJe h4{
        font-size: 10px;
        font-weight: 100;
        padding: 4px;
        border-radius: 6px;
    }

    .ejerciciosJe button{
        padding: 4px;
        font-size: 7px;
        height: 30px;

    }
   

    .infoFracciones p{
        font-size: 16px;
    }
  

    .contentPizarra h3{
        color: #0077ff;
    }
    
    
   
    
}

.contentMateLectura {
    display: flex;
    width: 60%;
    flex-direction: column;
    position: relative;
    margin: auto;
    height: 60%;
    box-shadow: 4px 3px 26px 0px rgba(170,187,255,1);
-webkit-box-shadow: 4px 3px 26px 0px rgba(170,187,255,1);
-moz-box-shadow: 4px 3px 26px 0px rgba(170,187,255,1);
    border: 3px solid #fff;
    border-radius: 10px;
    background: linear-gradient(rgba(150, 150, 150, .5), rgba(150, 150, 150, .5));
}

.opciones{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50%;
}

.tituloOpciones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
}

.tituloOpciones h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 4px 3px 7px rgba(29,48,146,0.6);
    background-color: #abf;
    border-radius: 7px;
    padding: 8px;
    border: 3px solid #fff;
    transition: .5s;
    box-shadow: 4px 3px 26px 0px rgba(13,43,162,1);
    -webkit-box-shadow: 4px 3px 26px 0px rgba(13,43,162,1);
    -moz-box-shadow: 4px 3px 26px 0px rgba(13,43,162,1);
}

.tituloOpciones h1:hover{
    background-color: rgb(80, 97, 168);
}


.opcion {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .5s;
    
}
.opcion img{
    height: 70px;
    border-radius: 7px;
    background: rgb(130,153,255);
background: linear-gradient(180deg, rgba(130,153,255,1) 0%, rgba(67,73,133,1) 100%);
    padding: 10px;
    border: 2px solid #fff;
    transition: .5s;

    box-shadow: 4px 3px 11px 0px rgba(255,255,255,0.75);
-webkit-box-shadow: 4px 3px 11px 0px rgba(255,255,255,0.75);
-moz-box-shadow: 4px 3px 11px 0px rgba(255,255,255,0.75);

   
}

.opcion img:hover{
    background: rgb(88,104,174);
    transform: translateY(-20%);
    box-shadow: 4px 3px 11px 0px rgba(5,21,139,0.75);
    -webkit-box-shadow: 4px 3px 11px 0px rgba(5,21,139,0.75);
    -moz-box-shadow: 4px 3px 11px 0px rgba(5,21,139,0.75);
    transition: .5s;
background: linear-gradient(180deg, rgba(88,104,174,1) 0%, rgba(32,41,131,1) 100%);
}
.opcion h1{
    color: #fff;
    font-size: 16px;
    text-shadow: 4px 3px 7px rgba(29,48,146,0.6);
}

@media (max-width: 750px){
    .contentMateLectura{
        display: flex;
        width: 85%;
        height: 80%;
        position: relative;
        margin-top: 100px ;

    }

    .tituloOpciones {
        height: 30%;
    }

    .tituloOpciones h1{
        font-size: 16px;
    }

    .opciones{
        display: grid;
        grid-template-columns: 120px 120px;
        height: 70%;
        width: 100%;
    }


      .pizarra{
        display: none;
      }
   
}


/* nest hub max */
@media screen and (min-width: 800px) and (max-width: 1280px){
    .presentacionEjerciciosJerarquia{
        width: 80%;
    }

    .tituloDeEjerciciosJerarquia h1{
        font-size: 24px;
    }

    .ejerciciosFr h4{
        font-size: 18px;
    }


    .presentacionEjerciciosJerarquia button{
        font-size: 18px;
        justify-content: center;display: flex;
        align-items: center;
    }

    .imgDeEjerciciosJerarquia img{
      height: 100px;
       }

       #info__jerarquia {
        width: 80%;
       }
       

       #info__jerarquia p{
        font-size: 18px;
       }
       #btn__jerarquia{
        width: 30%;
       }

       #info__jerarquia span{
        color: #0077ff;
       }

       

/* fracciones */


       .presentacionEjerciciosFracciones{
        width: 80%;
    }

    .tituloDeEjerciciosFracciones h1{
        font-size: 24px;
    }

    .ejerciciosJe h4{
        font-size: 18px;
    }


    .presentacionEjerciciosFracciones button{
        font-size: 18px;
        justify-content: center;display: flex;
        align-items: center;
    }

    .imgDeEjerciciosFracciones img{
      height: 100px;
       }

       .infoFracciones p{
        font-size: 24px;
       }


       /* nav */

       .nav a{
        font-size: 22px;
       }

       .nombreLogo2 a{
        margin: 10px;
       }
}